$logoFont: cursive;
$textColor: white;
$aliasbgHeight:470px;
$itemsCenter: center;
$headerOpacity: #212128d1;
$relativeItem: relative;
$topMargin: 40%;
$blackColor: black;
$lightColor: rgb(218, 209, 209);
$defaultTextsize: 12px;
$secondSlideHeight: 137px;
$secondSlideWidth: 286px;
$upcomingMargin:42%;
$footerIconColor: #ffffff7a;
$bannerIconDanger:red;
$upArrowBg:#3b2983;
$paddingMedium: 30px;
$textSpace:20px;
$absoluteItem:absolute;
$addressPosition:209px;
